{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime"
  ],
  "env": {
    "local": {
      "plugins": ["ignore-html-and-css-imports"]
    }
  }
}